@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "tailwindcss";

/* Remove focus outlines from all Recharts charts */
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper svg:focus,
.recharts-wrapper svg *:focus {
  outline: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.CircularProgressbar-text {
  font-weight: bold !important;
  font-family: 'Montserrat', sans-serif; /* optional */
}